.infobox {

    border: 1px solid #a2a9b1;
    max-width: 360px;
    min-width: 100px;
    float: none;
    
    width: 50%;
    padding:1px;
    border-collapse: collapse;
    margin: 0 0 20px 20px 0;
    
}

.infobox img{
    
   
    width: 30%;
    display: block;
    margin: 10px auto;
  
    
}

.infobox th {

    
    padding: 10px;
    background-color: #a2a9b1;
    text-align: center;
    white-space: nowrap;
    
}

.infobox td {

    padding: 5px;
    border-top: 1px solid #a2a9b1;
    float: none;
}

h1 {

    font-size: 27px;
}

.detail {

    border: 1px solid #a2a9b1;
    width: 20%;
    white-space: nowrap;
    

}

.detail summary {

    font-size: larger;
}

.final {

    border: 1px solid #a2a9b1;
    padding: 1px;
    border-collapse: collapse;
    margin-bottom: 26px;

}

.final th {
    padding: 10px;
    background-color: #a2a9b1;
    border-right: 1px solid black;
   
}

.final td {

  padding: 8px;
  border-top: 1px solid #a2a9b1;
  border-right: 1px solid #a2a9b1;
  text-align: center;
  white-space: nowrap;
}